body {
    background-color: black;
    color: antiquewhite;
    position: absolute;
    left: 30%;
    right: 30%;
}

h1 {
    font-size: 50pt;
    font-weight: 1000;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: center;
    margin: 50px;
    padding-top: 30px;
    letter-spacing: .5rem;
    background: linear-gradient(to right, #ef5350, #f48fb1, #7e57c2, #2196f3, #26c6da, #43a047, #eeff41, #f9a825, #ff5722);
    background-clip: unset;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

h2 {
    text-align: center;
    margin: 50px;
    padding-top: 30px;
    background: linear-gradient(to right, #ef5350, #f48fb1, #7e57c2, #2196f3, #26c6da, #43a047, #eeff41, #f9a825, #ff5722);
    background-clip: unset;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

h4 {
    width: fit-content;
    background: linear-gradient(to right, #ef5350, #f48fb1, #7e57c2, #2196f3, #26c6da, #43a047, #eeff41, #f9a825, #ff5722);
    background-clip: unset;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

div#footer {
    position: fixed;
    bottom: 0px;
    left: 0px;
    width: 100%;
    color: antiquewhite;
    background: #161616;
    padding: 8px;
    font-size: large;
    font-weight: 500;
}

div#header {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    color: antiquewhite;
    background: #161616;
    padding: 8px;
    font-size: large;
    font-weight: 500;
}

div#margin {
    position: fixed;
    top: 5%;
    right: 0px;
    width: 10%;
    height: 90%;
    padding: 40px;
    color: antiquewhite;
    background: #161616;
    font-size: x-large;
}