<div id="footer">ToDoList.Bossmode the only task manager for real bosses that get boss shit done</div>

<div id="header">TO DO LIST: BECAUSE WE GET SHIT DONE 'ROUND HERE!</div>

<div id="margin">ToDoList&copy;&reg;&trade; is not responsible for any excessive productivity resulting from its use
    that may or may not result in: Dopeness, Sickness, Being Extra, Swag, Flexing, Grit, Gumption, Bossness, Bulemia,
    Hitting Different, Litness, YOLOing, THICCness, Cancer and/or Stacking paper to the ceiling. Any and all results are
    purely of your own making or unmaking.<br><span style="color: red"><strong>USE WITH EXTREME
            CAUTION!</strong></span>
</div>