<div id="footer">ToDoList.Bossmode the only task manager for real bosses that get boss shit done</div>

<div id="header">TO DO LIST: BECAUSE WE GET SHIT DONE 'ROUND HERE!</div>

<div id="margin"><span style="font-size: 14pt;">ToDoList&copy;&reg;&trade; is not responsible for any conditions that
        may or may not arise from its use.Side effects include but are not limited to:</span>
    <hr>
    Excessive productivity, Dopeness, Getting down with the sickness,
    Reaching your beastion, Grit, Making it rain, Raising the roof, Having that dawg in you, OG status, Becoming the
    GOAT, Wellness, Animal magnetism, Turning up, Known knowns, Known unknowns, Unknown unknowns, Upgrading your grey
    matter (because one day it may matter), Being Extra, Swag, Hitting the griddy, Gumption, Increased libido, Bossness,
    Loss of general relativity, Ascension, Showing your thizz face, Diarrhea, reaching another level, Going from the
    window to the wall, Finding purpose, Turning it up to 11, Hitting Different, Litness, Believing in a thing called
    love, Shakespearean rhyming, YOLOing, Contentedness, Flexing, THICCness, Over-confidence, Increased appetite, Luck,
    Overall feelings of satisfaction, Putting the team on your back, Uncontrollable laughter, Smiling, Changes in taste,
    Sauciness, Wilding out, Cancer, Wearing sunglasses at night, River dancing, Being a different animal but the same
    beast, Greatness, Achieving CHIM, Finding a new groove, Getting your mojo back, Contentment, Enlightenment,
    Disillusionment, Doing dirty deeds for dirt cheap, The power of friendship and/or Stacking paper to the ceiling.
    <hr>
    <span style="font-size: 14pt;">Any and all
        results are purely of your own making or unmaking.</span>
    <hr>
    <span style="color: red; font-size: 18pt"><strong>USE WITH
            CAUTION MOST
            EXTREME!</strong></span>
</div>